<%= form_with model: palette, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.label :main, "Main Color" %>
    <%= f.color_field :main %>
  </div>
  <div>
    <%= f.label :sub, "Sub Color" %>
    <%= f.color_field :sub %>
  </div>
  <div>
    <%= f.label :body, "Body Color" %>
    <%= f.color_field :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>