<%= form_with model: palette, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="sm:flex justify-between my-5">

    <div class="border flex m-2 lg:p-4">
      <div class="px-3 my-auto w-4/6">
        <%= f.label :main, "Main Color" %>
      </div>
      <%= f.color_field :main, class: "main-color colorinput my-auto", value: palette.main %>
    </div>

    <div class="border flex m-2 lg:p-4">
      <div class="px-3 my-auto w-4/6">
        <%= f.label :sub, "Sub Color" %>
      </div>
      <%= f.color_field :sub, class: "sub-color colorinput my-auto", value: palette.sub %>
    </div>

    <div class="border flex m-2 lg:p-4">
      <div class="px-3 my-auto w-4/6">
        <%= f.label :body, "Body Color" %>
      </div>
      <%= f.color_field :body, class: "body-color colorinput my-auto", value: palette.body %>
    </div>
    <% if current_page?(new_palette_path) %>
      <div class="px-5 my-auto">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<% end %>