<%= form_with model: palette, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="sm:flex justify-between my-5">

    <div class="border border-b-2 m-2 lg:p-4 bg-gray-50 hover:bg-white">
      <div class="flex ">
        <div class="px-3 my-auto w-4/6">
          <%= f.label :main, "Main Color" %>
        </div>
        <div>
          <%= f.color_field :main, class: "main-color colorinput my-auto", value: palette.main %>
        </div>
      </div>
      <div class="text-center">
        <%= palette.main %>
      </div>
    </div>

    <div class="border border-b-2 m-2 lg:p-4 bg-gray-50 hover:bg-white">
      <div class="flex ">
        <div class="px-3 my-auto w-4/6">
          <%= f.label :sub, "Sub Color" %>
        </div>
        <div>
          <%= f.color_field :sub, class: "sub-color colorinput my-auto", value: palette.sub %>
        </div>
      </div>
      <div class="text-center">
        <%= palette.sub %>
      </div>
    </div>

    <div class="border border-b-2 m-2 lg:p-4 bg-gray-50 hover:bg-white">
      <div class="flex ">
        <div class="px-3 my-auto w-4/6">
          <%= f.label :body, "Body Color" %>
        </div>
        <div>
          <%= f.color_field :body, class: "body-color colorinput my-auto", value: palette.body %>
        </div>
      </div>
      <div class="text-center">
        <%= palette.body %>
      </div>
    </div>

    <% if %w[root new_palette].any? {|name| current_page?(send("#{name}_path"))} %>
      <div class="text-center my-auto">
        <%= f.submit '登録', class: "bg-green-400 hover:bg-green-300 text-white rounded px-3 py-2 my-1" %>
      </div>
    <% end %>

  </div>
<% end %>