<div class="md:w-2/3 my-5">
    <%= render partial: 'shared/unablecolor', locals: {palette: @palette} %>
</div>

<%= javascript_pack_tag 'color/initial_main_change' %>
<%= javascript_pack_tag 'color/initial_sub_change' %>
<%= javascript_pack_tag 'color/initial_body_change' %>
<%= javascript_pack_tag 'color/initial_bgimage_change' %>