<div class="w-2/3">
  <%= render 'mypage/shared/activebutton' %>

  <div class="mx-auto w-full max-w-sm my-12">
    <div class="">
      <div class="pt-5 pb-2">
        登録日
      </div>
      <%= l @user.created_at, format: :short %>
    </div>

    <div class="">
      <div class="pt-5 pb-2">
        名前
      </div>
      <%= @user.last_name %>
    </div>

    <div class="">
      <div class="pt-5 pb-2">
        メールアドレス
      </div>
      <%= @user.email %>
    </div>

    <div class="mt-3">
      <button class="bg-green-400 hover:bg-green-300 text-white rounded px-3 py-2 my-1">
        <%= link_to '編集', edit_mypage_profile_path %>
      </button>
    </div>

  </div>
</div>