<div class ="ml-3">
  <% if  %w[admin_colors].any? {|name| current_page?(send("#{name}_path"))} %>
    <button class="bg-green-400 hover:bg-green-300 text-white rounded px-3 py-2 my-1">
      <%= link_to "編集", edit_admin_color_path(palette) %>
    </button>
    <button class="bg-red-500 hover:bg-red-400 text-white rounded px-3 py-2">
      <%= link_to "削除", admin_color_path(palette), method: :delete, data: { confirm: "削除してもよろしいですか？" } %>
    </button>
  <% elsif current_page?(mypage_colors_path) %>
    <button class="bg-green-400 hover:bg-green-300 text-white rounded px-3 py-2 my-1">
      <%= link_to '詳細', palette_path(palette), data: {"turbolinks" => false} %>
    </button>
    <button class="bg-red-500 hover:bg-red-400 text-white rounded px-3 py-2">
      <%= link_to '削除', palette_path(palette), method: :delete, data: { confirm: "削除しますか?" } %>
    </button>
  <% elsif current_user&.own?(palette) %>
    <button class="bg-red-500 hover:bg-red-400 text-white rounded px-3 py-2">
      <%= link_to '削除', palette_path(palette), method: :delete, data: { confirm: "削除しますかshow?" } %>
    </button>
  <% elsif current_page?(mypage_palettes_likes_path) %>
    <%= render 'shared/unlike_detail_button', palette: palette %>
  <% else %>
    <%= render 'shared/like_button', palette: palette %>
  <% end %>
</div>