<div class="text-center my-2">
  <span class="arrow-down"><i class="fa-solid fa-circle-arrow-down"></i></span>
</div>

<header class="body-change-bg border-t flex items-center justify-between flex-wrap p-6">

  <div class="flex items-center flex-shrink-0">
    <span class="main-change font-semibold text-xl tracking-tight">SampleApp</span>
  </div>
  <div class="hidden md:visible block flex md:flex lg:items-center lg:w-auto mr-1">
    <div>
      <a class="mt-0 inline-block text-2xl px-4 py-2 main-change "><i class="fa-solid fa-star"></i></a>
      <a class="mt-0 inline-block text-2xl px-4 py-2 main-change "><i class="fa-solid fa-envelope"></i></a>
      <a class="mt-0 inline-block text-2xl px-4 py-2 main-change "><i class="fa-solid fa-bell"></i></a>
      <a class="mt-0 inline-block text-2xl px-4 py-2 main-change "><i class="fa-solid fa-user"></i></a>
    </div>
  </div>

</header>

<main class="">

  <div class="py-10 bg-gray-200">
    <div class="flex flex-col justify-center my-4">
      <div class="w-10/12 relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-7xl mx-auto border border-white bg-white">
        <div class="w-full md:w-1/3 bg-white grid place-items-center">
          <%= image_tag 'room.jpg', class:"rounded-xl" %>
        </div>
        <div class="w-full md:w-2/3 bg-white flex flex-col space-y-5 p-3">
          <div class="flex justify-between item-center">
            <p class="bg-red-500 px-2 text-white font-medium">Lorem Ipsum</p>
            <div class="bg-gray-200 px-3 py-1 rounded-full text-xs font-medium text-gray-800">20xx/xx/xx</div>
          </div>
          <h3 class="font-black text-gray-800 md:text-2xl text-xl">Your App looks fancy like these color combination.</h3>
          <p class="md:text-lg text-green-400 text-base">Lorem Ipsum is simply dummied text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p class="text-lg">Salary: $xxxx〜$xxxx</span></p>
          <button class="bg-green-400 text-center lg:text-xl text-white px-5 py-2 align-bottom">Apply</button>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center my-4">
      <div class="w-10/12 relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-7xl mx-auto border border-white bg-white">
        <div class="w-full md:w-1/3 bg-white grid place-items-center">
          <%= image_tag 'room.jpg', class:"rounded-xl" %>
        </div>
        <div class="w-full md:w-2/3 bg-white flex flex-col space-y-5 p-3">
          <div class="flex justify-between item-center">
            <p class="bg-red-500 px-2 text-white font-medium">Lorem Ipsum</p>
            <div class="bg-gray-200 px-3 py-1 rounded-full text-xs font-medium text-gray-800">20xx/xx/xx</div>
          </div>
          <h3 class="font-black text-gray-800 md:text-2xl text-xl">Your App looks fancy like these color combination.</h3>
          <p class="md:text-lg text-green-400 text-base">Lorem Ipsum is simply dummied text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p class="text-lg">Salary: $xxxx〜$xxxx</span></p>
          <button class="bg-green-400 text-center lg:text-xl text-white px-5 py-2 align-bottom">Apply</button>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center my-4">
      <div class="w-10/12 relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-7xl mx-auto border border-white bg-white">
        <div class="w-full md:w-1/3 bg-white grid place-items-center">
          <%= image_tag 'room.jpg', class:"rounded-xl" %>
        </div>
        <div class="w-full md:w-2/3 bg-white flex flex-col space-y-5 p-3">
          <div class="flex justify-between item-center">
            <p class="bg-red-500 px-2 text-white font-medium">Lorem Ipsum</p>
            <div class="bg-gray-200 px-3 py-1 rounded-full text-xs font-medium text-gray-800">20xx/xx/xx</div>
          </div>
          <h3 class="font-black text-gray-800 md:text-2xl text-xl">Your App looks fancy like these color combination.</h3>
          <p class="md:text-lg text-green-400 text-base">Lorem Ipsum is simply dummied text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p class="text-lg">Salary: $xxxx〜$xxxx</span></p>
          <button class="bg-green-400 text-center lg:text-xl text-white px-5 py-2 align-bottom">Apply</button>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="flex justify-center items-center py-10">
      <div class="px-5 md:grid md:grid-cols-2 lg:grid-cols-4 gap-5 space-y-4 md:space-y-0">
        <div class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg">
          <h3 class="mb-3 text-xl font-bold bg-gray-200 rounded text-center">Lorem Ipsum<h3>
          <div class="relative">
            <%= image_tag 'blue.jpg', class:"rounded-xl w-full" %>
          </div>
          <h1 class="mt-4 text-gray-800 text-2xl font-bold cursor-pointer">Your App looks fancy like these color combination.<h1>
          <div class="my-4">
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-star text-red-500 text-red-500"></i> Lorem Ipsum1</p>
            </div>
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-envelope text-red-500"></i> Lorem Ipsum2</p>
            </div>
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-user text-red-500"></i> Lorem Ipsum3</p>
            </div>
            <button class="mt-4 text-xl w-full text-white bg-green-400 py-2 rounded-xl shadow-lg">Apply</button>
          </div>
        </div>
        <div class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg">
          <h3 class="mb-3 text-xl font-bold bg-gray-200 rounded text-center">Lorem Ipsum<h3>
          <div class="relative">
          <%= image_tag 'blue.jpg', class:"rounded-xl w-full" %>
          </div>
          <h1 class="mt-4 text-gray-800 text-2xl font-bold cursor-pointer">Your App looks fancy like these color combination.<h1>
          <div class="my-4">
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-star text-red-500"></i> Lorem Ipsum1</p>
            </div>
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-envelope text-red-500"></i> Lorem Ipsum2</p>
            </div>
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-user text-red-500"></i> Lorem Ipsum3</p>
            </div>
            <button class="mt-4 text-xl w-full text-white bg-green-400 py-2 rounded-xl shadow-lg">Apply</button>
          </div>
        </div>
        <div class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg">
          <h3 class="mb-3 text-xl font-bold bg-gray-200 rounded text-center">Lorem Ipsum<h3>
          <div class="relative">
          <%= image_tag 'blue.jpg', class:"rounded-xl w-full" %>
          </div>
          <h1 class="mt-4 text-gray-800 text-2xl font-bold cursor-pointer">Your App looks fancy like these color combination.<h1>
          <div class="my-4">
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-star text-red-500"></i> Lorem Ipsum1</p>
            </div>
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-envelope text-red-500"></i> Lorem Ipsum2</p>
            </div>
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-user text-red-500"></i> Lorem Ipsum3</p>
            </div>
            <button class="mt-4 text-xl w-full text-white bg-green-400 py-2 rounded-xl shadow-lg">Apply</button>
          </div>
        </div>
        <div class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg">
          <h3 class="mb-3 text-xl font-bold bg-gray-200 rounded text-center">Lorem Ipsum<h3>
          <div class="relative">
          <%= image_tag 'blue.jpg', class:"rounded-xl w-full" %>
          </div>
          <h1 class="mt-4 text-gray-800 text-2xl font-bold cursor-pointer">Your App looks fancy like these color combination.<h1>
          <div class="my-4">
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-star text-red-500"></i> Lorem Ipsum1</p>
            </div>
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-envelope text-red-500"></i> Lorem Ipsum2</p>
            </div>
            <div class="flex space-x-1 items-center">
              <p><i class="fa-regular fa-user text-red-500"></i> Lorem Ipsum3</p>
            </div>
            <button class="mt-4 text-xl w-full text-white bg-green-400 py-2 rounded-xl shadow-lg">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<footer class="main-change-bg bg-gray-200 px-10 py-10">
  <div class="grid md:grid-cols-3 grid-cols-1">
    <div class="text-center">
      <div class="font-bold py-2 lg:text-xl">SampleApp</div>
      <div class="text-xs">© 2022 SampleApp</div>
    </div>
    <div class="no_display">
      <div>
        <a class="mt-0 inline-block text-sm px-4 py-2 ">About</a>
      </div>
      <div>
        <a class="mt-0 inline-block text-sm px-4 py-2 ">Products</a>
      </div>
      <div>
        <a class="mt-0 inline-block text-sm px-4 py-2 ">News</a>
      </div>
    </div>
    <div class="no_display">
      <button class="sub-change-bg bg-white mt-0 inline-block text-xl lg:px-10 px-6 py-2 rounded-full">Contact</button>
    </div>
  </div>
</footer>