<div class="flex justify-between mt-5">

  <div class="border border-b-2 sm:m-0 md:m-2 lg:p-4 w-1/4">
    <div class="md:flex ">
      <div class="px-3 my-auto w-4/6">
        Main Color
      </div>
      <div class="text-center">
        <input type="color" class="main-color colorinput my-auto" value=<%= palette.main %> disabled='true' %>
      </div>
    </div>
    <div class="text-center">
      <%= palette.main %>
    </div>
  </div>

  <div class="border border-b-2 sm:m-0 md:m-2 lg:p-4 w-1/4">
    <div class="md:flex ">
      <div class="px-3 my-auto w-4/6">
        Sub Color
      </div>
      <div class="text-center">
        <input type="color" class="sub-color colorinput my-auto" value=<%= palette.sub %> disabled='true' %>
      </div>
    </div>
    <div class="text-center">
      <%= palette.sub %>
    </div>
  </div>

  <div class="border border-b-2 sm:m-0 md:m-2 lg:p-4 w-1/4">
    <div class="md:flex ">
      <div class="px-3 my-auto w-4/6">
        Body Color
      </div>
      <div class="text-center">
        <input type="color" class="body-color colorinput my-auto" value=<%= palette.body %> disabled='true' %>
      </div>
    </div>
    <div class="text-center">
      <%= palette.body %>
    </div>
  </div>

  <div class="border border-b-2 sm:m-0 md:m-2 lg:p-4 w-1/4">
    <div class="md:flex ">
      <div class="px-3 my-auto w-5/6">
        Bg Image
      </div>
      <div class="my-auto text-center">
        <input class="bgimage-change bg-input my-auto" value=<%= palette.bgimage %> disabled='true'>
      </div>
    </div>
    <div class="text-center mt-1">
      <%= palette.bgimage %>
    </div>
  </div>


  <div class="my-auto w-1/4">
    <%= render partial: 'shared/button', locals: { palette: palette} %>
  </div>

</div>

<div>
  <% palette.tags.each do |tag| %>
    <span class="text-center px-1 mx-1 bg-gray-100 border text-gray-500 rounded-lg hover:text-black">
      <%= link_to tag.name, palettes_path(tag_name: tag.name) %>
    </span>
  <% end %>
</div>