<div class="flex md:justify-between my-5">

  <div class="border sm:m-0 md:m-2 lg:p-4 w-2/6">
    <div class="md:flex">
      <div class="px-1 my-auto w-5/6">
        <%= palette.main %>
      </div>
      <div class="text-center">
        <input type="color" class="main-color colorinput my-auto" value=<%= palette.main %> disabled='true' %>
      </div>
    </div>
  </div>

  <div class="border sm:m-0 md:m-2 lg:p-4 w-2/6">
    <div class="md:flex">
      <div class="px-1 my-auto w-5/6">
        <%= palette.sub %>
      </div>
      <div class="text-center">
        <input type="color"class="sub-color colorinput my-auto" value=<%= palette.sub %> disabled='true' %>
      </div>
    </div>
  </div>

  <div class="border sm:m-0 md:m-2 lg:p-4 w-2/6">
    <div class="md:flex">
      <div class="px-1 my-auto w-5/6">
        <%= palette.body %>
      </div>
      <div class="text-center">
        <input type="color" class="body-color colorinput my-auto" value=<%= palette.body %> disabled='true' %>
      </div>
    </div>
  </div>

</div>
<div class="my-auto">
  <% if current_user&.own?(palette) %>
    <button class="bg-gray-400 hover:bg-gray-300 text-white rounded px-3 py-2">
      <%= link_to '削除', palette_path(palette), method: :delete, data: { confirm: "削除しますか?" } %>
    </button>
  <% end %>
</div>