<div class="my-5">
  <% @palettes.each do |palette| %>
    <div class="flex md:justify-between">

      <div class="px-1 my-auto">
        <%= palette.user.first_name %>
      </div>

      <div class="border sm:m-0 md:m-2 lg:p-4 w-2/6">
        <div class="flex ">
          <div class="px-1 my-auto w-5/6">
            <%= palette.main %>
          </div>
          <div>
            <input type="color" class="main-color colorinput my-auto" value=<%= palette.main %> disabled='true' %>
          </div>
        </div>
      </div>

      <div class="border sm:m-0 md:m-2 lg:p-4 w-2/6">
        <div class="flex ">
          <div class="px-1 my-auto w-5/6">
            <%= palette.sub %>
          </div>
          <div>
            <input type="color"class="sub-color colorinput my-auto" value=<%= palette.sub %> disabled='true' %>
          </div>
        </div>
      </div>

      <div class="border sm:m-0 md:m-2 lg:p-4 w-2/6">
        <div class="flex ">
          <div class="px-1 my-auto w-5/6">
            <%= palette.body %>
          </div>
          <div>
            <input type="color" class="body-color colorinput my-auto" value=<%= palette.body %> disabled='true' %>
          </div>
        </div>
      </div>

      <%= link_to "編集", edit_admin_color_path(palette) %>
      <%= link_to "削除", admin_color_path(palette), method: :delete, data: { confirm: "削除してもよろしいですか？" } %>

    </div>

  <% end %>
</div>