<div class="md:w-3/4 my-5 mx-auto">
  <% @palettes.each do |palette| %>
    <div>
      <%= "作成者: " %><%= palette.user.first_name %>
    </div>
    <div>
      <%= "作成日: " %><%= palette.created_at %>
    </div>
    <%= render partial: 'shared/unablecolor', locals: {palette: palette} %>
  <% end %>
  <div class="">
    <%= paginate @palettes %>
  </div>
</div>